.footer 
	.container 
		.row 
			.col-3.col-xs-12  
				.footer_foot
					.foot_logo
						img(src="../assets/img/logo-footer.png", alt="")
					a(href="").l © Technolight 2015-2021
			.col-3.col-md-6
				.footer_foot
					.footer_title Каталог товаров
						ul.menu 
							li: a(href="") Трековые светильники
							li: a(href="") Встраиваемые светильники
							li: a(href="") Профильные светильники
							li: a(href="") Фигурные светильники
							li: a(href="") Светильники Армстронг
							li: a(href="") Армстронг с равномерной засветкой
							li: a(href="") Произовдители
			.col-3.col-md-6 
				.footer_foot
					.footer_title Как заказать
						ul.menu 
							li: a(href="") Оплата
							li: a(href="") Доставка
							li: a(href="") Реквизиты компании
							li: a(href="") Правовая информация
							li: a(href="") FAQ
			.col-3.col-xs-12 
				.footer_foot
					.footer_title Контакты
						.foot 
							.foot_img2 
								img(src="../assets/img/geo.svg", alt="")  
								a(href="") место магазина
							.foot_img2 
								img(src="../assets/img/tel.svg", alt="")
								a(href="") +7 (495) 233 55 57
							.foot_img2 
								img(src="../assets/img/sms.svg", alt="")
								a(href="") info@i-lights.ru
		.foot_bottom © Technolight 2015-2021