header.header
    .container 
        .header_top
            a.logo(href="index.html"): img(src="assets/img/lights-logo.png", alt="")
            button.menu_btn
                span
            ul.menu 
                li: a(href="company.html").link О компании   
                li: a(href="services.html").link  Услуги   
                li: a(href="").link   Проекты 
                li: a(href="").link Доставка и оплата   
                li: a(href="").link   Контакты    
                li: a(href="").link   Подборка  
                    button.plus 
                        img(src="../assets/img/plus.svg", alt="")
                li 
                    img(src="../assets/img/sms.svg", alt="")
                    a(href="").link info@i-lights.ru
                button.tel
                    img(src="../assets/img/tel.svg", alt="")
                    a(href="") +7 (495)  233 55 57
            