.service
    .container 
        .service_big
            .service_bigtitle
                span 
                | Услуги
            .service_title 
                .service_img 
                    img(src="../assets/img/lamp.svg", alt="")
                a(href="").service_text1 Изготовление счетильников для торгового и общественного освещени                
                    .service_text2 Мы ценим Ваше время, поэтому, коротко о главном.Наша компания была образована с целью предложить Российскому рынку профессиональные светотехнические решения для освещения магазинов, офисов и объектов общественно-развлекательного назначения. Сегодня мы поставляем осветительное оборудование различных ценовых категорий из стран Юго-Восточной Азии и Европы, а так же являемся дистрибьюторами лучших Российских производителей. А среди наших клиентов, сетевые и частные магазины одежды и обуви, продуктовые магазины, торговые и офисные центры, представители индустрии красоты и здоровья, кафе, рестораны, отели, коттеджные поселки и частные заказчики.
                button.service_btn +
            .service_title2
                .service_img 
                    img(src="../assets/img/car.svg", alt="")
                a(href="").service_text Поставки дизайнерского света от ведущих европейских производителей
                button.service_btn +
            .service_title2 
                .service_img 
                    img(src="../assets/img/group.svg", alt="")
                a(href="").service_text Проектирование, светотехнические расчеты и разработка концепции освещения
                button.service_btn +
            .service_title2 
                .service_img 
                    img(src="../assets/img/ico.svg", alt="")
                a(href="").service_text Модернизация светильников
                button.service_btn +
            .service_title2
                .service_img 
                    img(src="../assets/img/ico2.svg", alt="")
                a(href="").service_text Ремонт светодиодных светильников
                button.service_btn +
.news
    .container 
        .news_big 
            .news_bigtitle 
                span 
                | Новинки
            .row 
                +new 
                +new ('light2.png', '41500' ) 
                +new ('light1.png','21800')
                +new ('light1.png', '37900')
                
            .news_button 
                button.news_cat Перейти на каталог
.download 
    .container 
        .download_file 
            .file(style='background-image: url(assets/img/file.svg)')
                .file_t Файлы для скачивания
            .file_all
                .file_info
                    .last Последние версии каталогов
                    .end 
                        a(href="").see Посмотреть
                        a(href="").see Скачать
                        button.file_img
                            img(src="../assets/img/down-arrow 1.svg", alt="")
                .file_info
                    .last Технические спецификации
                    .end
                        a(href="").see Посмотреть
                        a(href="").see Скачать
                        button.file_img 
                            img(src="../assets/img/down-arrow 1.svg", alt="")
                .file_info
                    .last Технические спецификации
                    .end
                        a(href="").see Посмотреть
                        a(href="").see Скачать
                        button.file_img 
                            img(src="../assets/img/down-arrow 1.svg", alt="")
                .file_info
                    .last Технические спецификации
                    .end
                        a(href="").see Посмотреть
                        a(href="").see Скачать
                        button.file_img 
                            img(src="../assets/img/down-arrow 1.svg", alt="")
                .file_info
                    .last IES-файлы и прочая документация
                    .end
                        a(href="").see Посмотреть
                        a(href="").see Скачать
                        button.file_img
                            img(src="../assets/img/down-arrow 1.svg", alt="")
                .file_info.b
                    .last IES-файлы и прочая документация
                    .end
                        a(href="").see Посмотреть
                        a(href="").see Скачать
                        button.file_img
                            img(src="../assets/img/down-arrow 1.svg", alt="")
                .file_info.b
                    .last IES-файлы и прочая документация
                    .end
                        a(href="").see Посмотреть
                        a(href="").see Скачать
                        button.file_img
                            img(src="../assets/img/down-arrow 1.svg", alt="")
        .questions 
            .que_img(style='background-image: url(assets/img/question.svg)')
                .que_text Остались вопросы и нужна консультация?
            .que_input 
                .input 
                    input(type="text", placeholder="Ваше имя*") 
                .input
                    input(type="text", placeholder="Ваш e-mail*")
                .input 
                    input(type="text", placeholder="Сообщение")
                button.in_btn Отправить