.slider 
    .container 
        .slider_big
            .slider_left 
                .slider_title
                    span.lights I-LIGHTS 
                    |- Эффективные <br> решения
                    .slider_text Компания I-lights это современная производственно-проектная организация с многолентим опытом работы в сфере разработки 
                    button.btn Подробнее
            .slider_right
                .slider_right--img.splide
                    .splide__track
                        ul.splide__list
                            li.slider_img.splide__slide: img(src="assets/img/room.jpg", alt="") 
                            li.slider_img.splide__slide: img(src="assets/img/room2.jpg", alt="") 
                            li.slider_img.splide__slide: img(src="assets/img/room3.jpg", alt="") 
                            li.slider_img.splide__slide: img(src="assets/img/room4.jpg", alt="") 
                            li.slider_img.splide__slide: img(src="assets/img/room5.jpg", alt="") 
.catalog 
    .container 
        .catalog_big 
            span 
            | Каталог
        .row 
            .col-3.col-md-6.col-xs-12 
                a(href="").catalog_title Трековые светильники
                .catalog_text Органично вписываются в интерьеры в стиле хай-тек, лофт
                button.cat_btn Перейти в каталог
                .catalog_menu
                    a(href="").text_menu Встраиваемые светильники
                    a(href="").text_menu Фигурные светильники
                    a(href="").text_menu Светильники Армстронг
                    a(href="").text_menu Светильники Армстронг с равномерной засветкой
            
            .col-3.col-md-6.col-xs-12 
                .pic(style='background-image: url(assets/img/pic.png)')
                    button.pic_btn         
                        span 
                        | Arco 
                
            .col-3.col-md-6.col-xs-12 
                .pic2.mb(style='background-image: url(assets/img/recessed-lights.jpg)')
                    button.pic_btn         
                        span 
                        | Evo M
                .pic2(style='background-image: url(assets/img/image.jpg)')
                    button.pic_btn         
                        span 
                        | Evo L
            .col-3.col-md-6.col-xs-12 
                .pic3(style='background-image: url(assets/img/lihgt.png)')  
                    button.pic_btn         
                        span 
                        | Alfa