.services 
    .container
        .company_solutions
            .solution_left 
                .solution_title Наши решения
                ul.solution_menu 
                    li: a(href="").l  Для магазинов
                    li: a(href="").l  Для общественных мест
                    li: a(href="").l  Для фасадов и ландшафтов
                    li: a(href="").l Для кафе и ресторанов
                    li: a(href="").l  Для офисов
                    li: a(href="").l Для жилых интерьеров
            .solution_right 
                .solution_images 
                    .img(style='background-image:url(assets/img/img.png)')
                .solution_img 
                    .img2(style='background-image:url(assets/img/technolight2.jpg)')
                    .img2(style='background-image:url(assets/img/technolight1.jpg)')
                    .img2(style='background-image:url(assets/img/technolight3.jpg)')
            .solution_right2 
                a(href="").l  Для общественных мест
                .solution_images 
                    .img(style='background-image:url(assets/img/media1.jpg)') 
                .solution_img 
                    .img2(style='background-image:url(assets/img/media4.jpg)')
                    .img2(style='background-image:url(assets/img/media2.jpg)')
                    .img2(style='background-image:url(assets/img/media4.jpg)')
            .solution_right2 
                a(href="").l  Для фасадов и ландшафтов
                .solution_images 
                    .img(style='background-image:url(assets/img/media3.jpg)') 
                .solution_img 
                    .img2(style='background-image:url(assets/img/media2.jpg)')
                    .img2(style='background-image:url(assets/img/media3.jpg)')
                    .img2(style='background-image:url(assets/img/media4.jpg)')
            .solution_right2 
                a(href="").l  Для кафе и ресторанов
                .solution_images 
                    .img(style='background-image:url(assets/img/media6.jpg)') 
                .solution_img 
                    .img2(style='background-image:url(assets/img/media2.jpg)')
                    .img2(style='background-image:url(assets/img/media3.jpg)')
                    .img2(style='background-image:url(assets/img/media4.jpg)')
            .solution_right2 
                a(href="").l  Для офисов
                .solution_images 
                    .img(style='background-image:url(assets/img/media7.jpg)') 
                .solution_img 
                    .img2(style='background-image:url(assets/img/media2.jpg)')
                    .img2(style='background-image:url(assets/img/media3.jpg)')
                    .img2(style='background-image:url(assets/img/media4.jpg)')
            .solution_right2 
                a(href="").l  Для жилых интерьеров
                .solution_images 
                    .img(style='background-image:url(assets/img/media8.jpg)') 
                .solution_img 
                    .img2(style='background-image:url(assets/img/media2.jpg)')
                    .img2(style='background-image:url(assets/img/media3.jpg)')
                    .img2(style='background-image:url(assets/img/media4.jpg)')